-- artifacts
bin/*
obj/*
bin/*

-- zpm
.config.json
docs/style/.assets.lua

-- git
*.orig

-- make
Makefile
*.make

-- visual studio code
*/.vs/*

-- visual studio
*.sdf
*.sln
*.suo
*.VC.*
*.opensdf
*.vcxproj*

-- Intel Tools
*Amplifier*

-- Docs
*.chi
*.chm

-- ZPM 
extern/
assets/
test/extern
test/assets
profile.txt
