<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>C:\Users\Paul-DEV\zpm\bin\premake5.exe</StartProgram>
    <StartArguments />
    <StartWorkingDirectory>C:\Users\Paul-DEV\Documents\Zefiros\SerLib2</StartWorkingDirectory>
  </propertyGroup>
</Project>