<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>C:\ProgramData\zpm\zpmd.exe</StartProgram>
    <StartArguments>install-package --update</StartArguments>
    <StartWorkingDirectory>C:\Users\Paul-DEV\Documents\bsp-library\edupack</StartWorkingDirectory>
  </propertyGroup>
</Project>