<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>C:\Users\Paul-DEV\zpm\bin\zpmd.exe</StartProgram>
    <StartArguments>module search Zefiros-Software --no-interactive</StartArguments>
    <StartWorkingDirectory>C:\Users\Paul-DEV\zpm\zpm</StartWorkingDirectory>
  </propertyGroup>
</Project>